/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    position: fixed;
    z-index: 1;
    top: 0;
    height: 46px;
    background-color: black;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
   
}
#nav{
    display: flex;
}
#nav li  {
    position: relative;
    list-style: none;
}
#nav >li:hover >a{
    background-color: #ccc;
    color: black;

}
#nav > li > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 46px;
    padding:0 24px;
    font-size: 0.95rem;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
.subnav li {
    padding: 8px 16px;
    list-style: none;
}
.subnav li a{
    line-height: 24px;
    text-decoration: none;
    color: black;
}
.subnav li:hover{
    background-color:#ccc ;
}
.menu-mobie{
    color: white;
    font-size: 1.6;
    margin-left: auto;
    padding: 12px 24px;
    cursor: pointer;
    display: none;
}
#header .search{
    color: white;
    font-size: 1.6;
    margin-left: auto;
    padding: 12px 24px;
    cursor: pointer;
}
#header .search:hover{
    background-color: rgb(231, 10, 10);
}
.slider-content{
    position: relative;
}
.slider-content__img{
    margin-top: 46px;
    width: 100%;
}
#slider .text-content{
    
    position: absolute;
    left: 50%;
    bottom: 0;
    color: aliceblue;
    transform: translate(-50%,-0%);
    padding: 32px 16px;
}
#slider .text-heading{
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    line-height: 2.4rem;
}
#slider .text-item{
    margin: 15px 0;
    font-weight: 600;
}
#content .content-section{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
}
.section-heading{
    margin: 10px 0;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}
.section-sub-heading{
    text-align: center;
    margin: 15px 0;
    opacity: 0.5;
}
.about-text{
    margin: 15px 0;
}
.section-content{
    padding: 32px 0;
    display: flex;
}
.section-content .content__item{
    width: 33.333%;
    text-align: center;
}
.content__item-heading{
    margin: 15px 0;
}
.content__item-img{
    margin-bottom: 16px;
    border-radius: 4px;
    width: 60%;
}
.tour-section{
    background-color: black;
    
}
.tour-section .section-heading{
    margin: 10px 0;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: white;
}
.tour-section .section-sub-heading{
    text-align: center;
    margin: 15px 0;
    color: white;
    opacity: 0.5;
    margin-bottom: 47px;
}
.tour-section .tour-content{
    background-color: white;
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid #757575 ;
}
.tour-content-text{
    color: #757575;
    line-height: 22px
}
.tour-content-sold{
    color: white;
    padding: 2px 8px;
    margin-left: 16px;
    background-color: #f44336;
}
.tour-content-item{
    margin-left: auto;
    padding: 0 8px;
    margin-right: 16px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
/* places-list */
.places-list{
    padding: 32px 0;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.place__item{
    width: 33.333%;
    margin: 0 8px;
}
.places-item__img{
    width: 100%;
    display: block;
}
.places-item__img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px 16px 22px 16px;
    background-color: white;
}
.place-body__heading{
    width: 100%;
    height: 25px;
    
}
.place-body__time{
    margin: 16px 0;
    opacity: 0.6;
}
.place-body__desc{
    margin: 25px 0;
    font-size: 15px;
}
.place-body__btn{
    color: white;
    padding: 8px 16px;
    background-color: black;
    text-decoration: none;
    border: none;
}
.place-body__btn:hover{
    background-color:   #ccc;
    color: black;
}
/* CONTACT */
.contact-content{
    padding: 32px 0;
    display: flex;
}
.contact-body{
    width: 50%;
}
.contact-item{
    font-size: 18px;
    line-height: 28px;
}
.contact-item__icon{
    width: 30px;
}

.contact-input__list{
    display: flex;
    margin: 0px -8px 8px -8px;

}
.contact-input__item{
    padding:8px ;
    margin: 8px;
    width: 100%;
   font-size: 14px;
   line-height: 22px;
   border: 1px solid rgb(203, 203, 203);
}
.contact-input__email{
    padding: 8px;
    width: 100%;
    font-size: 14px;
   line-height: 22px;
   border: 1px solid rgb(203, 203, 203);
}
.contact-btn{
 margin: 16px 0;
 padding: 8px 16px;
 background-color: black;
 color: white;
 font-size: 14px;
 border: none;
 line-height: 22px;
 cursor: pointer;
 float: right;
}
.contact-btn:hover{
    background-color: #ccc;
    color:black ;
}
.conten-maps img{
    width: 100%;
    filter: grayscale(50%);
}
#footer{
    padding: 64px 16px;
    background-color: #f7f7f7;
    text-align: center;
}
.footer-icon{
    font-size: 22px;
    color: #666;
}
.footer-icon-item:hover{
    opacity: 0.6;
}
.footer-end{
    color: #666;
    margin: 15px 0;
}
.footer-end a{
    color: #666;
}
.modal{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.open{
    display:flex;
}
.modal-container{
    
    background-color: rgb(255, 255, 255);
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    box-shadow: 0 1px 20px rgba(0,0,0,0.3);
    animation: modalFadeIn ease-in 0.2s;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: 12px 16px;
    color:  #ffffff;
}
.modal-close:hover{
    background-color: #ccc;
    cursor: pointer;
    color: black;
}
.modal-header{
    display: flex;
    align-items: center;
   justify-content: center;
    height: 130px;
    padding: 32px 16px;
    background-color:  #009688;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.modal-header__icon{
    margin-right: 16px;
}
.modal-body{
    padding: 0 16px;
}
.madal-label{
    display: block;
    margin: 15px 0;
    font-size: 15px;
}
.madal-input{
    display: block;
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border: 1px solid rgb(203, 203, 203);
}
#buy-tickets{
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    background-color: #009688;
    border: none;
    color:rgb(255, 255, 255) ;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
}
#buy-tickets:hover{
    background-color:#ccc ;
    color: black;
}
.modal-footer{
    padding: 15px 16px 26px;
    text-align: right;
}
.modal-footer a{
    color:#2196F3 ;
    font-size: 15px;
}
